h3{
  display: inline;
  margin-right: 15px;
}
button{
  margin-bottom: 10px;
  margin-right: 10px;
  background: #4ca6fd;
  color: #ffffff;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 100px;

}
article{
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 20px;

}
